
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Mobile Styles */


@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D;
    
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; 
      width: 50%;
}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; 
  }
}




.main_image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
     gap:30px; 
} 
 .character-card{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-areas: 
     "image-container user-details-container"
     "user-name-btn user-details-container"
     ;
     padding: 10px 15px;
     border-radius: 9px;
     border:1.5px solid rgb(54, 85, 78);
  }
  
  .image-container{
    grid-area: image-container;
    max-width:100%;
    margin-right: 20px;
  }
  .character-image{
    border-radius: 50px;
    width:100%;
}

  .user-name-container{
    grid-area: user-name-btn;
    margin: 10px;
    text-align: center;
  }

  .name-btn{
    border-radius: 7px;
    transition: 0.3s all ease;
    cursor: pointer;
    border:none;
    background-color: rgb(108, 126, 143);
    width: 100%;
  }
  .name-btn:hover{
    color:rgb(18, 24, 18);
    background-color: gainsboro;
  }
  .user-details-container{
    grid-area: user-details-container;
  }
  

p{ 
font-size: 2.5rem;
color: rgb(83, 129, 129);
font-weight: 400;
}

.username1{
    margin: 2px solid;
    padding: 1px ;

}
h3 {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
  color:rgb(0, 0, 0);
  font-size: 35px;

}



